.navbar-brand {
  font-size: 38px; }

body {
  font-family: 'Roboto'; }

.col-12 p {
  font-size: 16px; }

.col-lg-5 p {
  font-size: 20px; }

h2 {
  font-size: 30px;
  font-weight: 500;
  display: inline-block; }

.col-12 h3 {
  font-size: 18px;
  font-weight: 600; }

.col-12 h2 {
  font-size: 20px; }

.table td {
  text-align: center;
  height: 55px; }

.table th {
  text-align: center;
  width: 16.66%; }

.selectedCell {
  background-color: lightgreen; }

.del-button {
  padding: 0;
  font-size: 10px; }

span.material-icons {
  font-size: 20px;
  vertical-align: middle; }

.modal-body {
  text-align: center; }

.modal-footer {
  border-style: none; }
  .modal-footer button {
    background-color: white;
    width: 45%;
    border-width: 3px;
    border-color: black; }

.modal-content {
  background-color: lightgray;
  border-width: 3px;
  border-color: black; }

.fade.show {
  background: transparent; }

.alert {
  visibility: hidden; }

.alert.fade.show {
  background: rgba(255, 0, 0, 0.116); }

a {
  color: black; }

a:hover {
  text-decoration: none; }

